*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.btnContenedor{
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}